.logo_protagonistas{
    position: absolute;
    top: 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    left: 0px;
}

.logo_protagonistas img{
    max-width: 350px;
    pointer-events: none;
}