.protagonistas-title h1{
    margin-bottom: 4px;
    font-family: var(--font-primary);
    color: var(--color-primary);
    text-align: center;
    font-size: 2rem;
}

.protagonistas-title img{
    max-width: 350px;
}

.protagonistas-title h2{
    margin-top: 4px;
    font-family: var(--font-primary);
    color: var(--color-cuarto);
    text-align: center;
    font-size: 2rem;
}