header{
    width: 90vw;
    margin: auto;
    height: 100vh;
    background-color: var(--color-terciario);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: 65% 35%;
    grid-gap: 0px;
}

/* Header content */

.person-img{
    width: 100%;
    height: 100%;
}

.background_imange{
    width: 100%;
    height: 100%;
    background-image: url('../../../img/person_photo.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

header .person-img img{
    width: 100%;
}

header .items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

header section.title_header .items img {
    width: 53px;
}

header section.title_header .laica_logo {
    max-width: 200px;
    margin: auto;
    width: 100%;
}

header .logo {
    display: flex;
}


header .bambu_item{
    height: 45%;
    position: relative;
}

.bambu_item img {
    position: absolute;
    bottom: 0px;
}

.person_items-logo{
    display: none;
}

.person-img{
    display: block;
}

.movile{
    display: none;
}

.destok{
    display: block;
}

@media (max-width: 700px) {

    .destok{
        display: none !important;
    }

    .movile{
        display: block !important;
    }

    .person_items-logo{
        display: block;
    }

    .person-img{
        display: none;
    }
    header{
        grid-template-columns: 1fr;
    }   

    header .items{
        margin-top: 19px;
    }

    header section.title_header .laica_logo {
        max-width: 160px;
    }

    header h1 {
        font-size: 1.7rem !important;
    }

    header img.bambu {
        height: 100%;
    }

    img.person_items-logo {
        width: 100% !important;
        position: absolute;
        left: 0px;
        bottom: -1px;
    }

    section.title_header {
        display: grid;
        grid-template-rows: 1fr 1fr;
    }
}

/* Modals */

video {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

header .n-modal {
    max-width: 800px;
    height: auto;
}

.n-card.n-modal{
    border-radius: 13px !important;
    overflow: hidden;
}

.n-card__content {
    background: var(--color-quinto);
    border-color: var(--color-quinto) !important;
    padding-top: 41px !important;
}

.n-card > .n-card-header {
    position: absolute;
    width: 100%;
    padding: 8px;
}

.n-card > .n-card__content, .n-card > .n-card__footer {
    padding: 40px;
}

iframe{
    width: 100%;
    min-height: 500px;
    border-radius: 21px;
}

.n-base-close:not(.n-base-close--disabled):hover::before,
.n-base-close:not(.n-base-close--disabled)::before,
.n-base-close:not(.n-base-close--disabled):active::before{
    background-color: transparent !important;
}

button.play_modal {
    width: 100px;
    height: 100px;
    background: transparent;
    border: none;
    transform: scale(1);
    transition: .2s ease;
}

button.play_modal:hover{
    transform: scale(1.1);
}

button.play_modal img{
    width: 100%;
    height: 100%;
    pointer-events: none;
}

header section.title_header {
    width: 90%;
    height: 100vh;
    margin: auto;
    /* pointer-events: none; */
}

header section.title_header img{
    width: 100%;
}

header h1{
    margin-bottom: 4px;
    font-family: var(--font-primary);
    color: var(--color-primary);
    text-align: center;
    font-size: 2rem;    
}

button.n-base-close.n-base-close--absolute.n-card-header__close {
    width: 40px;
    background-color: transparent;
    border: 2px solid var(--color-primary);
    height: 40px;
    border-radius: 50%;
    transform: rotate(0deg);
    transition: .2s ease;
    z-index: 3;
}

button.n-base-close.n-base-close--absolute.n-card-header__close svg {
    color: var(--color-primary);
    font-size: 1.3rem;
    /* transform: translate(-1px, 0px); */
}

button.n-base-close.n-base-close--absolute.n-card-header__close:hover{
    transform: rotate(90deg);
}

.n-base-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}