.icon-laica{
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-laica div{
    background-color: var(--color-primary);
    padding: 7px 30px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    user-select: none;
    pointer-events: none;
    display: flex;
    justify-content: center;
}

.icon-laica div img{
    width: 54%;
}